.topBar {
  height: 80px;
  width: 100%;
  background-color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.brand {
  color: #0085ff;
  font-size: 25px;
  font-weight: 600;
}

.brandPosition {
  grid-column: 2/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdd {
  grid-column: 3/3;
  display: flex;
align-self: center;
justify-self: flex-end;
margin-right: 20px;

}