.positionLink {
    display:flex;
    justify-content: center;
    margin-top: 23px;
}
.containerWidth {
    width: 76%;
}

.profile {
    font-size: 34px;
    font-weight: bolder;
    color: #0f16d4;
}